<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>news-portlet</display-name>
	<context-param>
		<param-name>axis.servicesPath</param-name>
		<param-value>/axis/</param-value>
	</context-param>
	<filter>
		<filter-name>HtmlOptimizer Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.validhtml.HtmlOptimizerFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-pattern</param-name>
			<param-value>.+((teaser_page|related_page|teaser_filter)\.jsp|(renderArticle/)).+</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Axis Servlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>axis.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>JSON Servlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>json.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Secure Axis Servlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>basic_auth</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>axis.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Secure JSON Servlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>basic_auth</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>json.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Thread Local Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.threadlocal.ThreadLocalFilter</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Cache Filter - Resource</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.cache.CacheFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-ignore-pattern</param-name>
			<param-value>.+/-/.+</param-value>
		</init-param>
		<init-param>
			<param-name>pattern</param-name>
			<param-value>2</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Cache Filter - Resource JSP</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.cache.CacheFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-pattern</param-name>
			<param-value>.+/(css|main)\.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>pattern</param-name>
			<param-value>2</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ETag Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.etag.ETagFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-ignore-pattern</param-name>
			<param-value>.+/-/.+</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ETag Filter - JSP</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.etag.ETagFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-pattern</param-name>
			<param-value>.+/(css|main)\.jsp</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>GZip Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.gzip.GZipFilter</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Header Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.header.HeaderFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-ignore-pattern</param-name>
			<param-value>.+/-/.+</param-value>
		</init-param>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=315360000, public</param-value>
		</init-param>
		<init-param>
			<param-name>Expires</param-name>
			<param-value>315360000</param-value>
		</init-param>
		<init-param>
			<param-name>Vary</param-name>
			<param-value>Accept-Encoding</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Header Filter - JSP</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.header.HeaderFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-pattern</param-name>
			<param-value>.+/(css|main)\.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=315360000, public</param-value>
		</init-param>
		<init-param>
			<param-name>Expires</param-name>
			<param-value>315360000</param-value>
		</init-param>
		<init-param>
			<param-name>Vary</param-name>
			<param-value>Accept-Encoding</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Language Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.language.LanguageFilter</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Minifier Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.minifier.MinifierFilter</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Minifier Filter - JSP</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.minifier.MinifierFilter</param-value>
		</init-param>
		<init-param>
			<param-name>url-regex-pattern</param-name>
			<param-value>.+/(css|main)\.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HtmlOptimizer Filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HtmlOptimizer Filter</filter-name>
		<url-pattern>/renderArticle/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Thread Local Filter</filter-name>
		<url-pattern>/axis/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Thread Local Filter</filter-name>
		<url-pattern>/json/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Thread Local Filter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Axis Servlet Filter</filter-name>
		<url-pattern>/axis/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JSON Servlet Filter</filter-name>
		<url-pattern>/json/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure Axis Servlet Filter</filter-name>
		<url-pattern>/secure/axis/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure JSON Servlet Filter</filter-name>
		<url-pattern>/secure/json/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.ico</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.otf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.woff</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.woff2</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.svg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter</filter-name>
		<url-pattern>*.ttf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Header Filter - JSP</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.ico</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.otf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.woff</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.woff2</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.svg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter</filter-name>
		<url-pattern>*.ttf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ETag Filter - JSP</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Cache Filter - Resource</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Cache Filter - Resource</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Cache Filter - Resource</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Cache Filter - Resource JSP</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.otf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.woff</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.woff2</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.svg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>*.ttf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Language Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Minifier Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Minifier Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Minifier Filter - JSP</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.SerializableSessionAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PollsVoteServlet</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.PollsVoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PollsCaptchaVoteServlet</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.PollsCaptchaVoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EndPoint</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.EndPoint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>URLEndPoint</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.URLEndPoint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Metalocator</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.Metalocator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSections</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.GetSections</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticlesOf</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.ArticlesOf</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetArticle</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.GetArticle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RenderArticle</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.RenderArticle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetFilterOpts</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.GetFilterOpts</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FilterTeaser</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.FilterTeaser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetVocabulary</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.GetVocabulary</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOgImage</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.GetOgImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaymentFulfillment</servlet-name>
		<servlet-class>com.protecmedia.iter.news.paywall.servlet.PaymentFulfillmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaymentNotification</servlet-name>
		<servlet-class>com.protecmedia.iter.news.paywall.servlet.PaymentNotificationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Preview Event</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.PreviewEvent</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Recommended Articles</servlet-name>
		<servlet-class>com.protecmedia.iter.news.servlet.RecommendedArticlesServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Set Portlet Class Loader Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.SetPortletClassLoaderServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Axis Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.AxisServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JSON Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.JSONServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>pagecontentportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.PageContentPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>teaserviewerportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.TeaserViewerPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>teaserviewernrportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>relatedviewerportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.RelatedViewerPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>contentviewerportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.ContentViewerPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>statisticsscheduleportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>alertportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.AlertPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>breadcrumbportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.BreadCrumbPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>counterportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.CounterPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>metadatapageportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.MetadataPagePortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>articletopicsportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.ArticleTopicsPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>hottopicsportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.HotTopicsPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dateportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.DatePortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>htmlcontainerportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.HTMLContainerPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>catalogportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>metadatalocatorportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>menuportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>daylytopicsportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>velocitycontainerportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>proxyportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>paywallportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.liferay.util.bridges.mvc.MVCPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>articlerecommendationsportlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.protecmedia.iter.news.portlet.ArticleRecommendationsPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/fileuploadservlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PollsVoteServlet</servlet-name>
		<url-pattern>/polls/vote/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PollsCaptchaVoteServlet</servlet-name>
		<url-pattern>/polls/captchavote/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EndPoint</servlet-name>
		<url-pattern>/endpoint/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>URLEndPoint</servlet-name>
		<url-pattern>/urlendpoint/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Metalocator</servlet-name>
		<url-pattern>/metalocator/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSections</servlet-name>
		<url-pattern>/getSections</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticlesOf</servlet-name>
		<url-pattern>/articlesOf/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetArticle</servlet-name>
		<url-pattern>/getArticle/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RenderArticle</servlet-name>
		<url-pattern>/renderArticle/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFilterOpts</servlet-name>
		<url-pattern>/getfilteropts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterTeaser</servlet-name>
		<url-pattern>/filterteaser/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetVocabulary</servlet-name>
		<url-pattern>/getVocabulary/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOgImage</servlet-name>
		<url-pattern>/getogimage/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentFulfillment</servlet-name>
		<url-pattern>/paymentfulfillment/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentNotification</servlet-name>
		<url-pattern>/paymentnotification/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Preview Event</servlet-name>
		<url-pattern>/previewEvent/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recommended Articles</servlet-name>
		<url-pattern>/recommended-articles/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Axis Servlet</servlet-name>
		<url-pattern>/axis/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Axis Servlet</servlet-name>
		<url-pattern>/secure/axis/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSON Servlet</servlet-name>
		<url-pattern>/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSON Servlet</servlet-name>
		<url-pattern>/secure/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pagecontentportlet</servlet-name>
		<url-pattern>/pagecontentportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>teaserviewerportlet</servlet-name>
		<url-pattern>/teaserviewerportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>teaserviewernrportlet</servlet-name>
		<url-pattern>/teaserviewernrportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>relatedviewerportlet</servlet-name>
		<url-pattern>/relatedviewerportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>contentviewerportlet</servlet-name>
		<url-pattern>/contentviewerportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>statisticsscheduleportlet</servlet-name>
		<url-pattern>/statisticsscheduleportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>alertportlet</servlet-name>
		<url-pattern>/alertportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>breadcrumbportlet</servlet-name>
		<url-pattern>/breadcrumbportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>counterportlet</servlet-name>
		<url-pattern>/counterportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>metadatapageportlet</servlet-name>
		<url-pattern>/metadatapageportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>articletopicsportlet</servlet-name>
		<url-pattern>/articletopicsportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hottopicsportlet</servlet-name>
		<url-pattern>/hottopicsportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dateportlet</servlet-name>
		<url-pattern>/dateportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>htmlcontainerportlet</servlet-name>
		<url-pattern>/htmlcontainerportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>catalogportlet</servlet-name>
		<url-pattern>/catalogportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>metadatalocatorportlet</servlet-name>
		<url-pattern>/metadatalocatorportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>menuportlet</servlet-name>
		<url-pattern>/menuportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>daylytopicsportlet</servlet-name>
		<url-pattern>/daylytopicsportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>velocitycontainerportlet</servlet-name>
		<url-pattern>/velocitycontainerportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>proxyportlet</servlet-name>
		<url-pattern>/proxyportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>paywallportlet</servlet-name>
		<url-pattern>/paywallportlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>articlerecommendationsportlet</servlet-name>
		<url-pattern>/articlerecommendationsportlet/*</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/error.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/error.htm</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/errors/error.htm</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/aui</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-aui.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/portlet</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet-ext.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/security</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-security.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/theme</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-theme.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/ui</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-ui.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/util</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-util.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>